.wether-container{
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
}
.day{
    background-image: url('day-large.png');
}
.night{
    background-image: url('night-large.svg');
}
.temp{
    font-size: 56px;
    font-weight: 600;
    text-shadow:1px 1px 3px #323232;
}
.add{
    font-size: 18px;

}
.day .temp-content{
    color:white
}
.night .temp{
    color: red;
}
.temp-content{
    display: flex;
    /* flex-direction: column;
    text-align: left; */
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10%;
    color:white;
    user-select: none;
}
.wether-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
    text-transform: capitalize;
}


/* .wether-main{
    color:red
} */
.coor{
    font-size: 12px;
}
@media screen and (max-width:600px) {
    .day{
        background-image: url('day.png');
        background-repeat: none;
        background-size: cover;
    }
    .night{
        background-image: url('night.svg');
        background-repeat: none;
        background-size: cover;
    }
    .day .temp-content{
        color:black
    }
    .temp-content{
        padding-top: 25px;
    }
    .day .temp{
        color: red;
    }
}